#version=DEVEL
# Keyboard layouts
keyboard 'us'
# Root password
rootpw --iscrypted
# System language
lang en_US.UTF-8
# Reboot after installation
reboot
# System timezone
timezone Etc/UTC --isUtc
# Use text mode install
text
# Network information
network  --bootproto=dhcp --device=link --activate
# Use network installation
url --url="https://kojipkgs.fedoraproject.org/compose/29/latest-Fedora-29/compose/Server/x86_64/os/"
# System authorization information
auth  --useshadow  --passalgo=sha512
# Firewall configuration
firewall --disabled
# SELinux configuration
selinux --enforcing
firstboot --disable
# Do not configure the X Window System
skipx
# System services
services --enabled="sshd,chronyd"

# System bootloader configuration
bootloader --append="no_timer_check net.ifnames=0 console=tty1 console=ttyS0,115200n8" --location=mbr --timeout=0 --boot-drive=vda
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
autopart --type=plain --nohome --noboot --noswap

%post --erroronfail

# make sure firstboot doesn't start
echo "RUN_FIRSTBOOT=NO" > /etc/sysconfig/firstboot

# make sure cloud-init doesn't start
touch /etc/cloud/cloud-init.disabled

%end

%packages
@core
@standard
kernel-core
-biosdevname
-dracut-config-rescue
-iprutils
-kernel
-plymouth
-uboot-tools

%end

%addon com_redhat_kdump --disable --reserve-mb='128'

%end
